@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .col-sm-offset-2 {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <br />
    @using (Html.BeginForm("Run", "Demo", null, FormMethod.Post, new { @id = "form1", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="Id" id="Id" />
                <button type="submit" class="btn btn-default">Run</button>
            </div>
        </div>
    }

    @using (Html.BeginForm("Pause", "Demo", null, FormMethod.Post, new { @id = "form2", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="Id" id="Id" />
                <button type="submit" class="btn btn-default">Pause</button>
            </div>
        </div>
    }

    @using (Html.BeginForm("Resume", "Demo", null, FormMethod.Post, new { @id = "form3", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="Id" id="Id" />
                <button type="submit" class="btn btn-default">Resume</button>
            </div>
        </div>
    }

    <br />
    <div>
        <ul>
            <li>ViewBag.JobKey: @ViewBag.JobKey</li>
            <li>ViewBag.State: @ViewBag.State</li>
            <li>ViewBag.StartTime: @ViewBag.StartTime</li>
            <li>ViewBag.ExecuteTimes: @ViewBag.ExecuteTimes</li>
        </ul>
    </div>


</body>
</html>